@font-face{
    font-family: "Slackside One";
    src: url("/app/static/assets/fonts/SlacksideOne-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: "Sarala Regular";
    src: url("/app/static/assets/fonts/Sarala-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

body{
    background-image: url("/app/static/assets/images/logInBackground.png");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center;
    background-attachment: fixed; 
    height: 100vh;
    margin: 0;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1{
    font-family: "Slackside One";
    font-size: 5vw;
    font-weight: 200;
    color: white;
    position: relative;
    justify-self: center;
    margin: none;
    margin-top: -1.5rem;
}

form{
    display: flex;
    justify-self: center;
    flex-direction: column;
    margin-top: -1.5rem;
}

label{
    font-family: "Sarala Regular";
    color: white;
    justify-items: start;
}

input{
    border: none;
    border-radius: 6px;
    padding: 0.75rem 1rem;
    padding-right: 10rem;
    margin-bottom: 1vw;
}

#loginButton{
    font-family: "Sarala Regular";
    color: white;
    border: none;
    border-radius: 10px;
    background: #5B4B0C;
    padding: 0.1vw 1vw;
    align-self: flex-end;
}

#linkSignup{
    font-family: "Slackside One";
    font-size: 1.5vw;
    position: relative;
    display: flex;
    justify-self: center; 
    align-items: center;
    gap: 5px;
    margin-top: -1.5rem;
}

p{
    color: white;
}

a{
    color: #5B4B0C;
    text-decoration: none;
}